:root {
  --color-primary: #F5F5F5;;
  --color-secondary:rgba(0, 0, 0, 1);
  --color-tertiary: #454545;

  --color-primary-light: rgba(255, 255, 255, 1);
  --color-secondary-light:rgba(0, 0, 0, 0.5);
  --color-tertiary-light: #00f;

  --color-primary-dark: #f00;
  --color-secondary-dark: #0f0;
  --color-tertiary-dark: #00f;
}