:root {
  --color-primary: #F5F5F5;;
  --color-secondary: #000000;
  --color-tertiary: #454545;

  --color-primary-rgba: rgba(255, 255, 255, 1);
  --color-secondary-rgba:rgba(0, 0, 0, 1);
  --color-tertiary-rgba: rgba(69, 69, 69, 1);
  --color-secondary-1 :

  --color-primary-highlight: #FF0000;
  --color-secondary-highlight: #0f0;
  --color-tertiary-highlight: #00f;
}