 @-webkit-keyframes bg-top {
   0% {
     -webkit-transform: scale(1) translateY(0);
     transform: scale(1) translateY(0);
     -webkit-transform-origin: 50% 16%;
     transform-origin: 50% 16%;
   }

   100% {
     -webkit-transform: scale(1.25) translateY(-15px);
     transform: scale(1.25) translateY(-15px);
     -webkit-transform-origin: top;
     transform-origin: top;
   }
 }

 @keyframes bg-top {
   0% {
     -webkit-transform: scale(1) translateY(0);
     transform: scale(1) translateY(0);
     -webkit-transform-origin: 50% 16%;
     transform-origin: 50% 16%;
   }

   100% {
     -webkit-transform: scale(1.25) translateY(-15px);
     transform: scale(1.25) translateY(-15px);
     -webkit-transform-origin: top;
     transform-origin: top;
   }
 }

 @-webkit-keyframes heartbeat {
   from {
     -webkit-transform: scale(1);
     transform: scale(1);
     -webkit-transform-origin: center center;
     transform-origin: center center;
     -webkit-animation-timing-function: ease-out;
     animation-timing-function: ease-out;
   }

   10% {
     -webkit-transform: scale(0.91);
     transform: scale(0.91);
     -webkit-animation-timing-function: ease-in;
     animation-timing-function: ease-in;
   }

   17% {
     -webkit-transform: scale(0.98);
     transform: scale(0.98);
     -webkit-animation-timing-function: ease-out;
     animation-timing-function: ease-out;
   }

   33% {
     -webkit-transform: scale(0.87);
     transform: scale(0.87);
     -webkit-animation-timing-function: ease-in;
     animation-timing-function: ease-in;
   }

   45% {
     -webkit-transform: scale(1);
     transform: scale(1);
     -webkit-animation-timing-function: ease-out;
     animation-timing-function: ease-out;
   }
 }

 @keyframes heartbeat {
   from {
     -webkit-transform: scale(1);
     transform: scale(1);
     -webkit-transform-origin: center center;
     transform-origin: center center;
     -webkit-animation-timing-function: ease-out;
     animation-timing-function: ease-out;
   }

   10% {
     -webkit-transform: scale(0.91);
     transform: scale(0.91);
     -webkit-animation-timing-function: ease-in;
     animation-timing-function: ease-in;
   }

   17% {
     -webkit-transform: scale(0.98);
     transform: scale(0.98);
     -webkit-animation-timing-function: ease-out;
     animation-timing-function: ease-out;
   }

   33% {
     -webkit-transform: scale(0.87);
     transform: scale(0.87);
     -webkit-animation-timing-function: ease-in;
     animation-timing-function: ease-in;
   }

   45% {
     -webkit-transform: scale(1);
     transform: scale(1);
     -webkit-animation-timing-function: ease-out;
     animation-timing-function: ease-out;
   }
 }

 @-webkit-keyframes focus-in-contract-bck {
   0% {
     letter-spacing: 1em;
     -webkit-transform: translateZ(300px);
     transform: translateZ(300px);
     -webkit-filter: blur(12px);
     filter: blur(12px);
     opacity: 0;
   }

   100% {
     -webkit-transform: translateZ(12px);
     transform: translateZ(12px);
     -webkit-filter: blur(0);
     filter: blur(0);
     opacity: 1;
   }
 }

 @keyframes focus-in-contract-bck {
   0% {
     letter-spacing: 1em;
     -webkit-transform: translateZ(300px);
     transform: translateZ(300px);
     -webkit-filter: blur(12px);
     filter: blur(12px);
     opacity: 0;
   }

   100% {
     -webkit-transform: translateZ(12px);
     transform: translateZ(12px);
     -webkit-filter: blur(0);
     filter: blur(0);
     opacity: 1;
   }
 }

 @keyframes load-spinner {
   0% {
     transform: rotate(0deg)
   }

   100% {
     transform: rotate(360deg)
   }
 }