.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white-rgb);
  width: 100%;
  height: 100%;
  margin: 2rem 0;

  &--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 100%;
    margin: 2rem 0;
    color: var(--color-black-rgba);

    &__title {
      font-size: var(--font-size-xxxl);
      font-weight: var(--font-weight-bd);
      text-transform: uppercase;
    }

    &__subtitle {
      font-size: var(--font-size-lg);
      text-align: center;
    }
  }

  &--carousel {
    width: 100%;
    height: 100%;
    margin: 0 1rem 3rem 1rem;
    position: relative;

    &__img {
      margin: 0 auto;
      width: 80%;
      height: 40rem;


      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
      }
    }

    &__btn {
      &--prev,
      &--next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2.5rem;
        height: 2.5rem;
        border: none;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: var(--color-black-rgba);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
          background-color: var(--color-black-rgb);
          color: var(--color-white-rgb);
        }
      }

      &--prev {
        left: 1rem;
      }

      &--next {
        right: 1rem;
      }

      &--icon {
        font-size: var(--font-size-xxxl);
      }
    }
  }
}


.reviews {
  position: relative;
  width: 100%;
  height: 100%;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white-rgb);
  width: 100%;
  height: 100%;
  margin: 2rem 0;

  &--title {
    font-size: var(--font-size-xxxl);
    font-weight: var(--font-weight-bd);
    color: var(--color-black-rgba);
    margin: 2rem;
    text-transform: uppercase;
    align-self: flex-start;
  }

  &--container {
    width: 100%;
    height: 50rem;
    margin-bottom: 10rem;

    &__frame {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

.request {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black-rgb);
  width: 80%;
  padding: 2rem 1rem;

  &--title {
    font-size: var(--font-size-xxxl);
    font-weight: var(--font-weight-bd);
    color: var(--color-white-rgba);
    text-transform: uppercase;
  }

  &--text {
    font-size: var(--font-size-xl);
    color: var(--color-white-rgb);
    margin: 1rem 0 2rem 0;
    text-align: center;
  }

  &--btn {
   font-size: var(--font-size-xl);
   color: var(--color-white-rgb);
   text-transform: uppercase;
   cursor: pointer;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 1rem 2rem;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   vertical-align: middle;
   transition: all 0.3s ease-in-out;

   &:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
    }

    &:active {
      border-top-color: #1b435e;
      background: #1b435e;
    }
  }
}