.about {

  &--content {


    &__videos {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      &--video {
        position: relative;
        width: fit-content;
        height: fit-content;

        &--link {
          position: absolute;
          top: 2rem;
          left: 1rem;
         opacity: .8;
         color: var(--color-secondary-rgba);
         font-size: var(--font-size-xxl);
         cursor: pointer;
         text-decoration: none;
        }

        &--iframe {
          border: none;
          width: 50%;
          height: 70%;
        }
      }
    }
  }
}