.wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
}

.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;

  &--head {
    position: relative;

    &__header {
      width: 70%;
      height: 15rem;
      margin: 0rem auto;
      background-color: var(--color-primary-rgb);
      border-radius: .3rem;
      -webkit-border-radius: .3rem;
      -moz-border-radius: .3rem;
      -ms-border-radius: .3rem;
      -o-border-radius: .3rem;

      &__title {
        width: 60%;
        color: var(--color-secondary);
        font-size: var(--font-size-xxl);
        font-weight: var(--font-weight-bd);
        text-transform: uppercase;
        margin-left: 10rem;
        padding-top: 1rem;
      }
    }

    &__img {
      position: absolute;
      top: 2rem;
      right: 5rem;
      width: 100%;
      height: 20rem;
    }
  }

  &--content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text {
      padding: 1rem 5rem;
      color: var(--color-primary-rgb);
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-md);
      text-align: justify;
    }

    &__videos {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding: 0 2rem;

      &--video {
        position: relative;
        width: fit-content;
        height: fit-content;
        text-align: center;

        &--link {
          color: var(--color-secondary-rgba);
          background-color: var(--color-hl-4);
          font-size: var(--font-size-xxl);
          font-weight: var(--font-weight-bd);
          cursor: pointer;
          text-decoration: none;
          padding: 0 .5rem;
        }

        &--iframe {
          border: none;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.services {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-rgb);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;

  &--header {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &__title {

    }
  }
}