.about {

  &--content {


    &__videos {
      

      &--video {
        position: relative;
        width: fit-content;
        height: fit-content;

        &--link {
          position: absolute;
          top: 2rem;
          left: 1rem;
         opacity: .8;

         &__img {
          height: 2.2rem;
         }

         &__icon {
          font-size: var(--font-size-xxxl)
         }
        }

        &--iframe {
          border: none;
        }
      }
    }
  }
}