.booking {
  color: white;
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  &__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &--title {
      color: var(--color-hl-2);
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-bd);
      text-transform: uppercase;
    }
  }
}