.home {
  width: 100%;
  height: 75vh;
  // background-color: var(--color-primary-rgba);
  position: relative;

  &--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__img {
      background-image: url('../../../images/firstEmpire_branch.jpeg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      opacity: 0.3;
    }
  }

  &--content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: center;
    z-index: 1;

    &__head {
      width: 80%;
      line-height: 2.5rem;

      &--title {
        font-family: verdana, sans-serif;
        font-size: var(--font-size-home);
        font-weight: var(--font-weight-bd);
        letter-spacing: -.5pt;
        word-spacing: 2pt;
        // line-height: 1.5;
        text-transform: uppercase;
        font-size: var(--font-size-home);
        background: -webkit-linear-gradient(#ffffff, #ffffff);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
      }
    }
  }
}