.home {
  width: 100%;
  height: 65vh;
  // background-color: var(--color-primary-rgba);
  position: relative;

  &--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: #646265;

    &__img {
      background-image: url('../../../images/washerNdryer.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      opacity: .2;
    }
  }

  &--content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: center;
    z-index: 1;

    &__head {
      width: 85%;


      &--multiColor {
        padding: 1.5rem;
        text-align: center;
        background: radial-gradient(circle at 1.4% 1.4%, var(--color-hl-2b) .8%, transparent .8%),
          radial-gradient(circle at 5.5% 3%, var(--color-hl-2b) .45%, transparent .45%),
          radial-gradient(circle at 2.5% 3.5%, var(--color-hl-4b) .5%, transparent .5%),
          radial-gradient(circle at 4.5% 1.2%, var(--color-hl-1a) .25%, transparent .25%),
          radial-gradient(circle at 98% 98%, var(--color-hl-2b) .8%, transparent .8%),
          radial-gradient(circle at 95% 95%, var(--color-hl-2b) .45%, transparent .45%),
          radial-gradient(circle at 94.5% 97.5%, var(--color-hl-4b) .5%, transparent .5%),
          radial-gradient(circle at 98.5% 95.5%, var(--color-hl-1a) .25%, transparent .25%);

        &__title {
          font-family: var(--font-primary);
          font-size: var(--font-size-home);
          font-weight: var(--font-weight-bds);
          letter-spacing: -.5pt;
          word-spacing: 2pt;
          line-height: 1.3;
          text-transform: uppercase;
          width: min-content;
          margin: auto;
          background: linear-gradient(219deg,
              var(--color-hl-2b) 19%,
              transparent 19%, transparent 20%,
              var(--color-hl-2b) 20%, var(--color-hl-2b) 39%,
              transparent 39%, transparent 40%,
              var(--color-hl-4b) 40%, var(--color-hl-4b) 59%,
              transparent 59%, transparent 60%,
              var(--color-hl-1a) 60%, var(--color-hl-1a) 79%,
              transparent 79%, transparent 80%,
              var(--color-hl-1b) 80%);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
        }
      }

      &--subtitle {
        font-family: var(--font-family);
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-bds);
        color: var(--color-secondary);
        margin-top: 1rem;
      }
    }

    &__cta {
      width: 50%;

      &--btn {
        border-top: 1px solid #96d1f8;
        background: #65a9d7;
        background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
        background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
        background: -moz-linear-gradient(top, #3e779d, #65a9d7);
        background: -ms-linear-gradient(top, #3e779d, #65a9d7);
        background: -o-linear-gradient(top, #3e779d, #65a9d7);
        padding: .5rem 2rem;
        box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
        text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
        color: white;
        font-size: 16px;
        font-family: Georgia, Serif;
        text-decoration: none;
        vertical-align: middle;
        border-radius: .9rem;
        -webkit-border-radius: .9rem;
        -moz-border-radius: .9rem;
        -ms-border-radius: .9rem;
        -o-border-radius: .9rem;

        &:hover {
          border-top-color: #28597a;
          background: #28597a;
          color: #ccc;
        }

        &:active {
          border-top-color: #1b435e;
          background: #1b435e;
        }
      }
    }
  }
}