.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // z-index: -1;

    &__img {
      background-image: url("../../images/bg.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: blur(5px);
    }
  }
}