.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-rgb);
  width: 100%;
  height: 100%;
  margin-top: 15rem;
}