.paddingTop-lg {
  padding-top: 4rem;
}

.paddingTop-sm {
  padding-top: 2rem;
}

.icon {
  color: var(--color-red-1);
  font-size: var(--font-size-lg);
}

.overflow {
  overflow: hidden;
}

.flex-row {
  @include flex-row;
}