.footer {
  width: 100%;
  height: 100%;
  background-color: var(--color-white-rgb);
  // color: var(--color-black);
  padding: 2rem 1rem;
  @include flex-col;
  gap: 3rem;

  &--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 100%;
  }

  &--layout {
    @include flex-col;
    gap: 1rem;
    width: 100%;
    padding: 0 2rem;

    &__title {
      font-size: var(--font-size-xxl);
      text-transform: capitalize;
      font-weight: var(--font-weight-bd);
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // gap: .5rem;
    }

    &__list {
      @include flex-row;
      gap: 5rem;
      width: 100%;

      &__item {
        list-style: none;

        &--link,
        &:link,
        &:visited,
        &:active {
          font-size: var(--font-size-lg);
          font-family: var(--font-family);
          color: var(--color-blue-1);
          text-decoration: none;
          text-transform: capitalize;

          &:hover {
            color: var(--color-blue-2);
            text-decoration: underline;
          }
        }
      }
    }
  }

  &--wrapper {
    @include flex-col;
    gap: 1rem;
    width: 100%;

    @include respond(tab-land) {
      @include space-btw;
      width: 100%;
    }
  }

  &--logo {
    width: 100%;
    height: 10rem;

    @include respond(phone-normal) {
      height: 15rem;
    }

    @include respond(tab-land) {
      width: 20%;
      height: 10rem;
    }
  }

  &--social {
    @include flex-col;
    gap: .5rem;

    &__title {
      font-size: var(--font-size-xxl);
      text-transform: capitalize;
      font-weight: var(--font-weight-bd);
      color: var(--color-blue-2);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5rem;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;

      &--header {
        width: 100%;
        @include flex-col;
        gap: 1rem;

        &__title {
          font-size: var(--font-size-xxl);
          text-transform: capitalize;
          text-align: center;
        }

        &__para {
          @include flex-col;
          gap: 1rem;

          @include respond(desktop) {
            @include space-btw;
          }
        }

        &__text {
          font-size: var(--font-size-lg);
          @include flex-row;
          gap: .5rem;
          text-align: center;

          &--link,
          &:link,
          &:visited,
          &:active {
            font-size: var(--font-size-lg);
            font-family: var(--font-family);
            color: var(--color-blue-1);
            text-decoration: none;
            text-transform: capitalize;

            &:hover {
              color: var(--color-blue-2);
              text-decoration: underline;
            }
          }
        }
      }

      &--item {
        @include flex-row;
        gap: 2rem;

        &--icon {
          font-size: var(--font-size-home);
          background-color: var(--color-blue-lt);
          color: var(--color-blue-1);
          padding: .4rem;
          border-radius: 50%;
          transition: all .3s;
          box-shadow: 0 0 .5rem 0 var(--color--gray-1);

          &:hover {
            background-color: var(--color-blue-2);
            color: var(--color--white-lt);
            animation: heartbeat 1.5s ease-in-out;
            -webkit-animation: heartbeat 1.5s ease-in-out;
          }
        }
      }
    }
  }

  &--home {
    margin-top: 15rem;
  }

  &--copyright {
    font-size: var(--font-size-md);
    // color: var(--color-secondary-rgba);
    text-transform: capitalize;

    span {
      color: var(--color-blue-2);
      font-weight: var(--font-weight-md);
    }
  }
}