.layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  z-index: 100;
}

.layoutSmall {
  width: 100%;
  height: 100%;

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    &__logo {
      flex-basis: 30%;
    }

    &__nav {
      flex-basis: 70%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;
      position: relative;

      &__toggle {
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 1000;
        background-image: linear-gradient( to right, var(--color-primary), var(--color-primary-rgba));
        border: none;
        border-radius: 50%;
        padding: 1rem;
        cursor: pointer;
        transition: all .3s;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}